
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
	/*background: #ddd;*/
	/*color: #5a5350;*/
	font-weight: 300;
	/*font-family: 'Lato', Calibri, Arial, sans-serif;*/
	overflow-y: scroll;
	overflow-x: hidden;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}
