.mainpage .wrapper{
  position: relative;
  width: auto;
  padding: 0;
}
.mainpage .menu_wrap{
  background: none;
}
.wrap_opened{
  height: 887px;
  overflow: hidden;
}
.mobile_nav{
  position: absolute;
  width: 100%;
  background-image: url('/img/min-pattern.png');
  background-attachment: fixed;
  /*background-size: 100% 100%;*/
  left: 0;
  /*background-color: #4a696a;*/
  top: 98px;
  height: 0px;
  overflow: hidden;
  z-index: 99;
  transition: 0.65s;
  -webkit-transition:0.65s;
}
.mobile_nav__wrap{
  padding: 20px;
}
.mobile_open{
  height: 950px;
  transition: 0.5s;
  -webkit-transition:0.5s;
}
.menu_block .h3, .menu_block h3 {
  margin: 10px;
}
.menu_block li {
  line-height: 3;
  list-style-type: disc;
  list-style-position: inside;
}


@media only screen and (max-width:768px) {
  .mobile_nav{
    top:66px;
  }
  .menu_block li {
    line-height: 2;
    list-style-type: disc;
    list-style-position: inside;
  }
}
