@import "compass/reset";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body, .perspective {
	width: 100%;
	height: 100%;
}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before,.clearfix:after {display: table;	content: " ";}
.clearfix:after {	clear: both;}
body{
 font-family: $he;
 color: white;
 letter-spacing: 1px;
 text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
 overflow-y: scroll;
 overflow-x: hidden;
 -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}
 a {
   text-decoration: none;
   outline: none;
   color: inherit;
 }
.perspective{
  background: url('../img/min-pattern.png');
  background-repeat: repeat;
}
 nav {
   font-size: 18px;
 }
.button20, .outer-nav.horizontal a.button {
	outline: none;
	font-size: 10px;
	padding: 1.2em 2em;
	letter-spacing: 2pt;
	display: inline-block;
	color: rgba(255,255,255,1);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
	cursor: pointer;
	border: 1px solid rgba(255,255,255,0.5);
	overflow: hidden;
}
.button20 a{
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}
.button20::before, .outer-nav.horizontal a.button::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: 1;
	background-color: rgba(255,255,255,0.25);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: translate(13%,-220%) rotate(30deg);
	transform: translate(13%,-220%) rotate(30deg);
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button20::after, .outer-nav.horizontal a.button:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: 1;
	background-color: rgba(255,255,255,0.25);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: translate(-13%,-220%) rotate(-30deg);
	transform: translate(-13%,-220%) rotate(-30deg);
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button20::before, .outer-nav.horizontal a.button::before{
	-webkit-transition-delay: 0.2s; /* Safari */
  transition-delay: 0.2s;
}
.button20::after, .outer-nav.horizontal a.button::after{
	-webkit-transition-delay: 0.4s; /* Safari */
  transition-delay: 0.4s;
}
.button20:hover::before, .button20:hover::after,
.outer-nav.horizontal a.button:hover::before,
.outer-nav.horizontal a.button:hover::after{
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
}

.italic {font-family: $he;}
.bold {font-family: $he;}
.school{font-family: $cynthoB; letter-spacing: normal;}
.aligncenter{	text-align: center;}
.link{
	display: block;
  padding: 8px 10px;
  border: 1px solid;
  width: 100%;
	margin: 12px auto;
	background: transparent;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	i{
		transition: 0.4s;
		-webkit-transition: 0.4s;
	}
}
.link:hover i{	margin-left: 10px;}
 .header {
   height: 717px;
   width: 100%;
   background: url('../img/pattern.png');
   background-repeat: repeat-x;
   position: relative;
   z-index: 3;
   pointer-events: none;
 }
 .menu_wrap{
 	width: 100%;
  position: absolute;
  top: 0;	left:0;
  // background: url('../img/min-pattern.png');
	background: rgba(0, 0, 0, 0.8);
	background-repeat: repeat-x;
  z-index: 9999;
  height: 60px;
	}
 .menu{
   max-width: 1200px;
   margin: 0 auto;
   padding: 28px 10px 28px;
   pointer-events: all;
	 transition: 1s;
	 -webkit-transition: 1s;
 }
 .fixed_menu{
	 position: fixed;
	 opacity: 1;
	 width: 100%;
	 z-index: 199;
	 top: 0;
	 transition: .5s;
	 -webkit-transition: .5s;
 }
.animate {
	.fixed_menu{
		opacity: 0;
		pointer-events: none;
		transition: 0.35s;
		-webkit-transition: .35s;
	}
	.menu{
		pointer-events: none;
	}
}
 .fixed_logo{
	opacity: 1;
	 height: 100%;
	 width: 100%;
	 text-align: -webkit-center;
	 text-align: center;
	 position: absolute;
	 top: 0; left: 0;
	 padding: 12px 0;
	 pointer-events: none;
	 transition: 1s;
	 -webkit-transition: 1s;
	 a{
		 pointer-events: all;
		 display: inline-block;
		 width: 220px;
		 transition: 1s;
		 -webkit-transition: 1s;
	 }
	 img{
		 max-height: 100%;
	 }
}
.menu_back{
	background: rgba(0,0,0,0.8);
	.fixed_logo{
		padding: 8px 0;
	}
	.fixed_logo a {
		width: 148px;
		transition: 1s;
 	 -webkit-transition: 1s;
	}
	.menu{
		padding: 12px 10px 12px;
		transition: 1s;
 	 -webkit-transition: 1s;
	}
}
 .left_nav{
   float: right;
	 font-size: 12px;
   .main_call{
		 float: left;
		 padding: 0.8em;
		 font-size: 14px;
	 }
	 .button20{
		 float: left;
	 }
 }
 .mini-logo{
	 float: left;
	 a{
		 display: block;
		 margin-top: -6px;
	 }
	 img{
		 width: 150px;
	 }
 }
 .right_nav{
   float: left;
	 padding-top: 9px;
   .lang {
		 display: block;
    font-size: 10px;
    float: left;
		margin-top: 4px;
		padding-bottom: 20px;
		transition: 0.3s;
		-webkit-transition: 0.3s;
		 span:hover, li a:hover {
			 color: #828FAD;
		 }
		 li {
			 line-height: 20px;
		 }
		 li a, span{
			 cursor: pointer;
			 transition: 0.5s;
			 -webkit-transition:0.5s;
		 }
	 }
   *{
     margin-right: 10px;
   }
		a:hover{
		 color: #828FAD;
	 }
 }
 .fixed_menu{
	 .left_nav{float: right;}
	 .right_nav{float: left;}
 }
 #lang{
	 font-size: 10px;
	 position: absolute;
	 padding-top: 8px;
	 height: 0;
	 overflow: hidden;
	 transition: 0.5s;
	 -webkit-transition: 0.5s;
	 color: #b2b2b2;
 }

 * {
	 box-sizing: border-box;
 }
.animate{
	transition: 0.35s;
	-webkit-transition: 0.35s;
}
.main_one{
	background: url('/img/phil_1.jpg') center no-repeat;
	background-size: cover;
	position: relative;
	height: 100vh;
	}
	#toDown{
		text-align: center;
    font-size: 54px;
    position: absolute;
    width: 100%;
    bottom: 2vh;
		-webkit-transition: 1.2s ease;
	}
	.nav_logo{
		width: 220px;
    margin: 0 auto;
    position: relative;
    top: -25px;
	}
	/* Scroll down indicator (bouncing) */

  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateX(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }

  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -ms-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -ms-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }

  .bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
.main_one__name{
	font-size: 42px;
	text-align: center;
	padding-top: 48vh;
}
.main_one__name_inner{
	background: rgba(0,0,0,0.6);
	display: inline;
  line-height: 1.55;
  padding: 6px;

}
.main_two, .main_three{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
}
.main_two_left{
	width: 58%;
	background: url('/img/phil_2.jpg') center no-repeat;
	background-size: cover;
}
.main_two_right,
.main_three_left{
	width: 42%;
	background: -moz-linear-gradient(top, #1c191a 1%, #2b2728 35%, #2d292a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1c191a 1%,#2b2728 35%,#2d292a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1c191a 1%,#2b2728 35%,#2d292a 100%);
  background-repeat: repeat;
	box-sizing: border-box;
	padding: 120px 75px;
	.button20{
    padding: 2em 6em;}
}
.main_three .button20{
	margin-left: 16px;
}
.main_name{
	color: white;
	text-align: center;
	font-size: 42px;
	margin-bottom: 36px;
	letter-spacing: 1px;
}
.main_text{
	color: white;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 1px;
	p{
		margin-bottom: 30px;
	}
}
.main_three_right{
	width: 58%;
	background: url('/img/phil_3.jpg') center no-repeat;
	background-size: cover;
}
.table_advanced{
	margin: 20px auto 50px;
}
.table_advanced img,
.table_advanced svg{
	width: 55px;
	max-height: 55px;
}
.table_advanced td:nth-child(1){
	padding: 20px 16px;
}
.table_advanced td:nth-child(2){
	font-size: 14px;
	line-height: 1.5;
}
.main_four, .main_five{
	background: #2d292a;
	padding-top: 40px;
	.main_name{
		position: relative;
		text-align: center;
	}
	.main_name:before{
		content: '';
		position: absolute;
		left: 0;
		top:20px;
		width: 100%;
		height: 1px;
		background: #5c5959;
	}
	.main_name span {
		background: #2d292a;
		padding: 0 10px;
		position: relative;
	}
}
.four_wrap{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}
.main_five .main_name{
	margin-bottom: 0;
}
.select_wrapper{
	position: relative;
}
#floorNumber{
	opacity: 0;
}
.main_six{
	padding: 50px 0;
	background: -moz-linear-gradient(top, #1c191a 1%, #2b2728 35%, #2d292a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1c191a 1%,#2b2728 35%,#2d292a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1c191a 1%,#2b2728 35%,#2d292a 100%);
	.location_block i{
		color: #fff;
	}
}
.six_wrap{
	max-width: 1200px;
	padding: 0 10px;
	margin: 0 auto;
}
.six__details,
.six__images,
.six_map__info{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}
.six__details{
	font-size: 14px;
	line-height: 1.5;
	.location_block{
		border: none;
	}
}
.six__details__1{
	width: 20%;
	padding: 20px 20px 20px 0;
}
.six__details__2{
	width: 30%;
	padding: 20px 20px 20px 0;
}
.six__details__3{width: 20%;}
.six__details__4{width: 30%;}

.six__map,
.six__form{
	width: 48%;
}
.six__map{
	background: url('/img/poster2.jpg') center no-repeat;
	background-size: cover;
	position: relative;
	cursor: pointer;
}

.bigmap_overlay{
	opacity: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	z-index: 1;
	pointer-events: none;
}
.over__active{
	z-index: 99921;
	opacity: 1;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	pointer-events:all;

}
.bigmap__close{
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}
.bigmap__close i{
	color: #000;
	font-size: 30px;
}
.bigmap__null{
	display: block;
	width: 60px;
	height: 80px;
	position: absolute;
	/* background: aqua; */
	left: 53%;
	top: 29%;
	/* cursor: pointer; */
	}
.bigmap_box{
		display: none;
		position: absolute;
		top:50%;
		left: 50%;
		transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		text-align: center;
	}
	.bigmap_box img{
		max-width: 90vw;
		max-height: 96vh;

	}
// .six__form
.location_form{
	float: none;
	width: 55%;
	margin: 0;
	border: none;
	padding: 16px 30px;
	text-align: center;
	text-align: -webkit-center;
	background: #242122;
	p{
		font-size: 20px;
		margin: 12px auto;
	}
	form{
    margin-top: 16px;
  }
	input:not([type="submit"]), textarea {
		width: 100%;
    max-width: 100%;
    height: 50px;
    margin-bottom: 16px;
    text-indent: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    background: #3a3839;
		color: #dedede;
		outline: none;
		border: none;
		border-radius: 0;
		-webkit-appearance: none;
}
textarea{
	padding-top: 16px;
	text-indent: 20px;
}
	button[type="submit"]{
		color: #dedede;
		cursor: pointer;
		width: 50%;
    height: 50px;
    margin-top: 16px;
    float: none;
    outline: none;
    border: 1px solid #b2b2b2;
    -webkit-appearance: none;
	}
	input:active, textarea:active, input:focus, textarea:focus {
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 -1px 2px 0 rgba(0, 0, 0, 0.19);
	}
	::-webkit-input-placeholder {color:#b2b2b2;}
	::-moz-placeholder          {color:#b2b2b2;}/* Firefox 19+ */
	:-moz-placeholder           {color:#b2b2b2;}/* Firefox 18- */
	:-ms-input-placeholder      {color:#b2b2b2;}
}
.six__form .location_form{
	width: 100%;
}
.six_map__info{
	justify-content: space-around;
	text-align: left;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	padding: 30px 0;
}

.map_info__item{
	width: 40%;
	font-size: 14px;
	line-height: 1.5;
	img, div{
		display: inline-block;
		vertical-align: middle;
		margin-right: 6px;}
}


ul{list-style:none;margin:0;padding:0;}
h2{text-align:center}
pre{max-width:440px;margin:0 auto;background-color: rgba(0,0,0,0.05);border: 1px solid rgba(0,0,0,0.07);}
.bx-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.bx-wrapper img {
    // width: 100%;
		max-width: 100%;
	   display: block;
	  margin: 0 auto;
	  max-height: 600px;
}
#bx-pager {
	margin-top:20px;
  // text-align: center;
}
#bx-pager a {
    margin: 0 3px;
}
#bx-pager a img {
    padding: 3px;
		width:80px;
		-webkit-filter: invert(0.2);
		transition:.4s ease-in-out;
}
#bx-pager a.active img {
		-webkit-filter: none;
		transition:.4s ease-in-out;
}
.bx-prev, .bx-next {
    position: absolute;
    top: 50%;
    margin-top: -40px;
		transition: linear .4s;
    z-index: 10;
    cursor: pointer;
}
.bx-prev:before, .bx-next:before {
		color: #35393d;
    font-size: 45px;
    line-height: 80px;
}
.bx-next:before {
    content: "\e902";
}
.bx-prev {
    left: 0px;border-radius: 0 5px 5px 0
}
.bx-prev:before {
    content: "\e901";
}
.bx-next {
    right: 0px;border-radius: 5px 0 0 5px
}

#toTop {
    width: 60px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
		z-index: 22;
}
.footer, .footer_all{
	background-color: #2d292a;
}

.footer_wrap{
	width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 10px 20px;
	font-size: 12px;
  .copyr{
  float: left;
	line-height: 36px;
  }
  .smart{
  float: right;
    a {
			display: inline-block;
	    width: 90px;
	    vertical-align: middle;
			margin-left: 10px;
      }
    img{width: 100%;}
    }
  }
	.menuClose{
	    opacity: 0;
	    transition: 0.55s;
	    -webkit-transition: 0.55s;
	  }
	  .modalview .menuClose{
	    opacity: 1;
	    transition: 0.55s;
	    -webkit-transition: 0.55s;
	  }
.only_mobile{
	display: none;
}
.menu_logo {
  position: relative;
}
.logo-container {
	position: absolute;
	top: 80px;
	left: 10px;
	max-height: 70px;
	height: 100%;
	min-width: 170px;
	width: 150px;
	display: flex;
	justify-content: space-between;
	transition: top .3s;
}
.saga-logo {
  display: block;
}
.perfect-logo {
  height: 100%;
  display: block;
}
.logo-container img {
  height: calc(100% - 10px);
  height: 80%;
  max-height: 60px;
}
.logo-container a {
	max-height: 60px;
}
.menu_back .logo-container {
  top: 5px;
	left: 204px;
}
.icon_facebook {
	background: white;
	border-radius: 100%;
	height: 30px;
	width: 30px;
	padding: 3px;
	display: inline-block;
}
@media only screen and (max-width: 1024px) {
	.content_name{
		font-size: 36px;
	}
	.main_build .content_subname {
    width: 48%;
}
	.logo-container {
    position: absolute;
    top: 80px;
    left: 10px;
		min-width: 120px;
		width: 120px;
		max-height: 50px;
	}
	.menu_back .logo-container {
    top: 80px;
		left: 10px;
}
	.main_two_right, .main_three_left{
		padding: 70px 40px;
	}
	.button, .outer-nav.horizontal a.button {font-size: 8px; letter-spacing: 1.5pt; padding: 1em;	}

	.footer_wrap{
		font-size: 12px;
	}
	#call_back{
		line-height: 2;
		text-align: center;
		margin-top: 20px;
	}

	}
@media only screen and (max-width:960px) {
	.six__details{
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}
	.six__details__1{
		width: 40%;
		padding: 20px;
	}
	.six__details__2{
		width: 60%;
	}
	.six__details__3, .six__details__4{
		width: 50%;
	}

}
@media only screen and (max-width:840px) {
	.left_nav .button20 {
		display: none;
	}
	.main_name{
		font-size: 36px;
	}
}
@media only screen and (max-width:767px) {
	.logo-container {
		display: none;

	  }

	.outer-nav.horizontal a.button {
	  margin-bottom: 100px;
	}
	.only_mobile{
		display: inline-block;
	}
	.no_mobile{
		display: none!important;
	}
	.menu .icon-phone{
		font-size: 18px;
	}
	.right_nav {
    padding-top: 0px;
}
.menu {
    padding: 16px 10px 8px;
	}
.fixed_logo {
    width: 100px;
		position: absolute;
    left: 50%;
		top: 4px;
    margin-left: -50px;
		a{
			width: 100px;
		}
		img{
			width: 100%;
		}
}
.menu_back {
	.menu{
		padding: 16px 10px 8px;
	}
	.fixed_logo{
		padding: 12px 0;
	}
	.fixed_logo a{
		width: 100px;
	}
}
.main_one__name {
    font-size: 24px;
	}
.main_one__name_inner{
	line-height: 1.8;
}
.main_three {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.main_two{
	flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
}
.main_two_right, .main_three_left {
    width: 100%;
    padding: 20px 15px;
}
.main_name {
    font-size: 30px;
    margin-bottom: 20px;
		letter-spacing: normal;
}
.main_two_right .button20, .main_three_left .button20 {
	display: block;
  max-width: 250px;
  margin: 0 auto;
	text-align: center;
}
.main_two_left, .main_three_right	 {
    width: 100%;
    height: 300px;
}
#bx-pager a {
  margin: 0px;
}
#bx-pager a img {
  width: 50px;
}
.black_line {
	margin: 12px 0;
	&:after{
		opacity: 0;
	}
}
.main_six{
	padding: 50px 0 0;
}
.six__details, .six__images {
	flex-direction: column;
	-webkit-flex-direction: column;
}
.six__details__1,
.six__details__2,
.six__details__3,
.six__details__4,
.six__map,
.six__form{
	width: 100%;
}
.six__details__2{
	padding: 20px;
}
.six__map{
	height: 360px;
}
.six_map__info{
	padding: 12px 0;
}
.map_info__item {
    width: 48%;
    font-size: 12px;
}



}
	@import "_allstyle";
